@import url(variable.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.row_1{
    width: 539px;
    height: 240px;
    position: absolute;
    top: 70px;
    left: 40px;
    margin-left: 25px;
    margin-right: 200px;
}

.row_1 h1{
    font-family: "Avenir-Heavy";
    font-size: 90px;
    color: #252525;
    left: 40px;
    position: relative;
    top: 300;
    width:700px;
}
.row_1 h2{
    font-family: "Avenir-Roman";
    font-weight: lighter;
    font-size: 21px;
    color: #333333;
    position: absolute;
    top: 245px;
    left: 40px;
    line-height: 1.7;
}
.row_1 button{
    width: 140px;
    height: 60px;
    color: #ffff;
    font-family: "Poppins-Regular";
    font-size: 22px;
    border-radius: 50px;
    border: none;
    overflow: none;
    background-color: #252525;
    position: absolute;
    top: 380px;
    left: 40px  ;
}
.row_2{
    width: 539px;
    height: 720px;
    /* background: blue; */
    position: absolute;
    top: auto;
    right: auto;
}

.row_2 img.back{
    width: 350px;
    position: relative;
    top: 42px;
    left: 950px;
    z-index: -1;
}

.row_2 img.out{
    position: absolute;
    width: 350px;
    top: 230px;
    left: 1200px;
}

.row_2 img.stick{
    width: 1100px;
    top: 700px;
    position: absolute;

}