
:root {
    --texto-blanco: white;
    --rojo: red;
    --color-3: #E5B94B;
}

@font-face{
    font-family: 'WorkSans-Bold';
    src: url(../Storage/font/Montserrat/WorkSans-Bold.ttf);
}
@font-face{
    font-family: 'WorkSans-Light';
    src: url(../Storage/font/Montserrat/WorkSans-Light.ttf);
}
@font-face {
    font-family: "WorSans-Medium";
    src: url(../storage/font/Montserrat/WorkSans-Medium.ttf);
}