:root {
    --color-1:#ffff
}
:root {
    --color-2:#CD292A
}
:root {
    --color-3:#CD292A
}
:root {
    --color-4:#CD292A
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(storage/font/Montserrat-Regular);
}
@font-face {
    font-family: "Montserrat-ExtraBold";    
    src: url(storage/font/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(storage/font/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(storage/font/Montserrat-SemiBold.ttf);
}

